.card {
  width: 492px;
  height: 217px;
  position: relative;
  font-family: Manrope;
}

.card .card_top .head {
  color: #276ffb;
  font-size: 24px;
}

.card .card_top {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.card .card_top .time {
  font-size: 18px;
  color: #141414;
  opacity: 0.6;
}

.card .middle {
  margin-top: 3px;
  display: flex;
  color: #141414;
  font-size: 20px;
  font-weight: 400;
}

.card .end {
  margin-top: 28px;
  width: 454px;
  height: 127px;
  opacity: 0.6;
  text-align: left;
  font-size: 20px;
  height: 107px;
}

.card button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 46px;
  height: 43px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 15px;
}

.card button i {
  font-size: 15px;
  width: 7px;
  height: 15px;
}

@media (max-width: 750px) {
  .card {
    width: 350px;
    height: 150px;
  }
  .card .card_top .head {
    font-size: 17px;
  }
  .card .card_top .time {
    font-size: 13px;
  }
  .card .middle {
    margin-top: 2px;
    font-size: 14px;
  }
  .card .end {
    margin-top: 20px;
    width: 300px;
    font-size: 14px;
    height: 107px;
  }
  .card button {
    width: 35px;
    height: 33px;
    font-size: 15px;
  }

  .card button i {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .card {
    width: 300px;
    height: 130px;
  }
  .card .card_top .head {
    font-size: 15px;
  }
  .card .card_top .time {
    font-size: 11px;
  }
  .card .middle {
    margin-top: 2px;
    font-size: 12px;
  }
  .card .end {
    margin-top: 10px;
    width: 250px;
    font-size: 12px;
    height: 100px;
  }
  .card button {
    transform: scale(0.8);
  }
}
